/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.btn, .btn-large, .btn-small {
  background-color: #D06886 !important;
}

.page-footer {
  background-color: #8B7898 !important;
}

.light-blue.lighten-1 {
  background-color: #69003B !important;
}

.orange-text {
  color: #D06886 !important;
}

.light-blue-text {
  color: #69003B !important;
}

.orange {
  background-color: #D06886;
}

.orange-text.text-lighten-3 {
  color: #69003B !important;
}

#buttons {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  width: 27%;
}

